.dayWeatherList {
    background: #FFFFFF;
    box-shadow: 4.8461px 9.6922px 3.87688px rgba(0, 0, 0, 0.25);
    border-radius: 48.461px;
    padding: 35px;
    height: 460px;
    width: 355px;
    margin: auto;
    padding-top: 15px;
    @include media-breakpoint-down (md) {
        width: 270px;
        height: 420px;
    }
    @include media-breakpoint-down(sm){
        width: 100%;
        height: 520px;
      }
}
.dayWeatherList__title {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 10px;
    @include media-breakpoint-down (md) {
        font-size: 17px;
        line-height: 20px;
        padding-bottom: 0;
    }
}