.dayWeatherList {
    background: #FFFFFF;
    box-shadow: 4.8461px 9.6922px 3.87688px rgba(0, 0, 0, 0.25);
    border-radius: 48.461px;
    padding: 35px;
    height: 465px;
    width: 355px;
    margin: auto;
}
.dayWeatherList__title {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 10px;
}