.dayWeather {
    box-shadow: 4.86295px 9.72591px 3.89036px rgba(0, 0, 0, 0.25);
    border-radius: 48.6295px;
    padding-top: 20px;
    position: relative;
    background-color: #F9E7F1;
    min-width:320px;
    max-width: 370px;
    min-height: 462px;
}

.dayWeather__title {
    font-size: 24px;
    color: #9D93A0;
}