.Calendar__icon img{
  width: 60px;
  height: 60px;
}
.Calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include media-breakpoint-down (sm) {
    display: none;
}
}
.Calendar__wrapper {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.Calendar__time {
  font-size: 28px;
  line-height: 32px;
  text-align: left;
}