.currentWeather{
    background: #D4B6D2;
    box-shadow: 4.86295px 9.72591px 3.89036px rgba(0, 0, 0, 0.25);
    border-radius: 48.6295px;
    padding-left: 25px;
    padding-top: 30px;
    position: relative;
    color: #F9E7F1;
    font-size: 18px;
    width: 355px;
    height: 475px;
    margin: auto;
    @include media-breakpoint-down (md) {
        width: 270px;
        height: 440px;
    }
}

.background__1{
    background-image: url('../img/Ellipse\ 1.svg');
    z-index:1;
    background-repeat: no-repeat;
    margin-top:20px;
    max-height: 350px;
    background-size: cover;
    @include media-breakpoint-down (md) {
        margin-top: 80px
    }
}
.currentWeather__date{
    text-align: left;
    line-height: 18px;
}
.currentWeather__weather{
    position: absolute;
    left: 25px;
    top: 55px;
    display: flex;
    flex-direction: column;
    text-align: left;
    @include media-breakpoint-down (md) {
        top: 65px;
    }
}
.currentWeather__temp{
    font-size: 70px;
    line-height: 70px;
    color: #74717d;
    @include media-breakpoint-down (md) {
        font-size: 50px;
        line-height: 50px;
    }
}
.currentWeather__description{
    color: #74717d;
}
.currentWeather__city{
    display: flex;
    padding-bottom: 20px;
    margin-top: 10px;
    @include media-breakpoint-down (md) {
        margin-top: 15px;
    }
}
.currentWeather__city__name{
    margin-left: 10px;
    font-size: 22px;
    @include media-breakpoint-down (md) {
        font-size: 19px;
    }
}
.currentWeather__icon-weather {
    position: absolute;
    right: 30px;
    top: 30px;
}
.currentWeather__img .set0, .set6{
    width: 300px;
    margin-top: 120px;
}
.currentWeather__img .set6{
    width: 300px;
    margin-top: 120px;
    @include media-breakpoint-down (md) {
        width: 220px;
        margin-top: 99px;
    }
}
.currentWeather__img .set9{
    margin-top: 50px;
}
.currentWeather__img__clothes {
    width: 210px;
    margin-top: 40px;

    @include media-breakpoint-down (md) {
        width: 150px;
    }
}